* {
    margin:     2px 2px;
    padding:    4px 8px;

    width:      auto;
    height:     auto;
    min-width:  0;
    min-height: 0;
    max-width:  auto;
    max-height: auto;

    background-color:   transparent;

    border-width:   1px;
    border-color:   rgba(0, 0, 0, 0.75);
    border-radius:  4px;

    overflow: hidden;
    font: normal normal 12pt sans-serif;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 5px rgba(255,0,0,0.25);
    border-radius: 0px;
    cursor: default;
    overflow: hidden;
}

button {
    white-space: normal;
    cursor: default;
    display: inline;
    border-width: 0px;
    border-radius: 4px;
    border-color: white rgb(96,96,96) rgb(32,32,32) rgb(224,224,224);
    background: rgba(160,160,160, 0.50);
    color: black;
}

button:focus {
    /*background: yellow;*/
    /*background: lightcyan;*/
    background: rgba(160,160,160, 1.00);
}

button:active {
    /*background: rgb(192,128,128);*/
    background: hsla(200, 100%, 50%, 1.0); /* rgba(128,224,255,0.5); */
}

button:hover {
    background: hsla(200, 100%, 62.5%, 1.0); /* rgb(64,192,255); */
}

button:active:hover {
    background: hsla(200, 100%, 80%, 1.0); /*rgb(128,224,255);*/
}

button:disabled {
    background-color: rgb(128,128,128);
    color: rgb(192,192,192);
    /*border-width: 1px;*/
    border-color: rgb(96,96,96);
    cursor: default;
}

p {
    display: block;
    width: 100%;
    /*margin: 2px 0px;*/
    padding: 2px;
    border-width: 0px;
    color: white;
}

p span {
    margin: 0;
    padding: 0;
    border-width: 0;
}

textarea {
    display: block;
    width: 100%;
    /*margin: 2px 0px;*/
    padding: 4px;
    background-color: rgba(255,255,255,0.9);
    border-width: 1px;
    border-radius: 4px;
    border-color: black;
    color: black;
    cursor: text;
}

div {
    background-color: rgba(0,0,0,0.25);
    display: block;
    width: 100%;
    margin: 2px 0px;
    padding: 2px;
}

br {
    display: block;
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

dialog {
    position: fixed;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
    background: rgba(32, 32, 32, 0.75);
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    color: white;
    width: 500px;
    max-width: 750px;
    min-width: 200px;
}

dialog.framed {
    border-color: rgba(0,0,0,0.75);
    border-width: 3px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;
    margin: 5px;
}

dialog.framed > div.header {
    background: hsla(200, 0%, 25%, 0.75); /* hsla(0, 0%, 25%, 0.75); */
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 2px 15px 5px 15px;
    border-width: 1px;
    border-radius: 0px;
    border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,1) rgba(0,0,0,0.25);
    cursor: grab;
}

dialog.framed > div.header:hover {
    background-color: hsla(200, 25%, 40%, 0.75); /* hsla(0,0%,40%,0.75);*/
}
dialog.framed > div.header:active {
    background-color: hsla(200, 100%, 60%, 0.75); /*hsla(0,0%,40%,0.5);*/
}

dialog.framed > div.inside {
    margin: 0px;
    border-width: 1px;
    border-radius: 0px;
    border-color: rgba(0,0,0,1.0) rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.25);
    padding: 5px 2px 2px 2px;
}

img {
    border-width: 1px;
    border-color: rgba(0,0,0,0.25);
    background-color: hsla(200, 100%, 62.5%, 0.0); /* rgba(255,0,0,0); */
    padding: 2px;
}
img:hover {
    background-color: hsla(200, 100%, 62.5%, 1.0); /* rgba(0,0,255,0.5); */
}

span {
    color: white;
    border-width: 0px;
}