* {
    margin:     4 2;
    padding:    3;

    width:      auto;
    height:     auto;
    min-width:  0;
    min-height: 0;
    max-width:  auto;
    max-height: auto;

    background-color:   transparent;

    border-width:   1;
    border-color:   rgba(0, 0, 0, 0.75);
    border-radius:  5;

    overflow: hidden;
    font: normal normal 12 serif;
}

body {
    cursor: crosshair;
}

button {
    display: inline;
    border-width: 2;
    border-color: white rgb(64,64,64) rgb(64,64,64) white;
    background: rgb(160,160,160);
}

button:focus {
    background: lightcyan;
}

button:active {
    border-color: rgb(64,64,64) white white rgb(64,64,64);
    background: rgb(128,128,128);
}

button:hover {
    background: rgb(192,192,192);
}

button:hover:active {
    background: rgb(160,160,160);
}